---
- name: Generate join commands for new nodes
  hosts: controlplane
  gather_facts: false
  vars:
    cluster_config: "{{ lookup('file', 'tmp/{{ cluster_name }}/cluster_config.json') | from_json }}"
  tasks:
    - name: Set controlplane host to the first in the inventory
      set_fact:
        control_plane_host: "{{ groups['controlplane'][0] }}"
      run_once: true

    - name: Show selected controlplane host
      debug:
        msg: "Selected controlplane host: {{ control_plane_host }}"
      when: control_plane_host is not none

    - block:
        - name: Create a new token and print the join command for worker nodes
          ansible.builtin.shell:
            cmd: kubeadm token create --print-join-command
          register: worker_join_command
          become: true
          delegate_to: "{{ control_plane_host }}"

        - name: Save worker node join command to file
          copy:
            content: "{{ worker_join_command.stdout }}"
            dest: "tmp/{{ cluster_name }}/worker_join_command.sh"
          delegate_to: localhost

        - name: Deploy kubeadm config file
          ansible.builtin.template:
            src: helpers/kubeadm_cp_config.yaml.j2
            dest: "/root/kubeadm-config.yaml"
          delegate_to: "{{ control_plane_host }}"

        - name: Re-upload certificates and generate a new certificate key
          ansible.builtin.shell:
            cmd: "kubeadm init phase upload-certs --upload-certs --config /root/kubeadm-config.yaml"
          register: upload_certs_output
          become: true
          delegate_to: "{{ control_plane_host }}"

        - name: Extract the certificate key from the output
          set_fact:
            certificate_key: "{{ upload_certs_output.stdout | regex_search('Using certificate key:\\s*([a-f0-9]+)', '\\1') | first }}"
          delegate_to: localhost

        - name: Save controlplane join command to file
          copy:
            content: "{{ worker_join_command.stdout }} --control-plane --certificate-key {{ certificate_key }}"
            dest: "tmp/{{ cluster_name }}/control_plane_join_command.sh"
          delegate_to: localhost

        - name: Remove kubeadm-config.yaml
          ansible.builtin.file:
            path: "/root/kubeadm-config.yaml"
            state: absent
          become: true

      when: control_plane_host is not none
      run_once: true
